:root {
    --color-black-bg: #191919;
    --color-white: #FFF;
    --color-white-accent: #E3E3E3;
    --color-accent-green: #8DCD43;
    --color-orange: #E4BD34;
    --color-lime: #DBFF00;

    --color-Grey-1: #1E1E1E;
    --color-Grey-8: #B3B3B3;
    --color-black-header: #020202;
}