@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Montserrat:wght@300;500;600&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,600;8..144,700&display=swap');

// font-family: 'Roboto Flex', sans-serif; 200/300/400/600/700
// font-family: 'Montserrat', sans-serif; 400/500/600
// font-family: 'Inter', sans-serif; 300/400

:root {
    // Font Family
    --Roboto-flex-font-family: 'Roboto Flex', sans-serif;
    --Montserrat-font-family: 'Montserrat', sans-serif;
    --Inter-font-family: 'Inter', sans-serif;

    // Text fonts
    --main-text-font: 200 1.375rem/1.5125rem var(--Roboto-flex-font-family);
    --main-title-text-font: 600 1.5rem/1.65rem var(--Roboto-flex-font-family);
    --section-title-text-font: 600 3rem/3.3rem var(--Montserrat-font-family);
    --section-title-accent-text-font: 300 3rem/3.3rem var(--Montserrat-font-family);
    --block-title-font: 600 1.5rem/1.65rem var(--Roboto-flex-font-family);
    --header-contacts-font: 600 .875rem/.9625rem var(--Roboto-flex-font-family);
    --button-font: 400 1.25rem/1.25rem var(--Roboto-flex-font-family);
    --nav-font: 400 .75rem/1.125rem var(--Roboto-flex-font-family);
    --hero-subtitle-font: 300 2rem/2.2rem var(--Inter-font-family);
    --hero-bottom-font: 400 1.25rem/1.25rem var(--Inter-font-family);
    --hit-font: 600 1.5rem/normal var(--Roboto-flex-font-family);
}

// Header
.header-row {
    font: var(--header-contacts-font);
    letter-spacing: .0175rem;
    color: var(--color-accent-green);
}

// Hero
.hero__subtitle {
    font: var(--hero-subtitle-font);
}

.hero__bottom {
    font: var(--hero-bottom-font);
}


// Title
.section-title {
    font: var(--section-title-text-font);
    text-transform: uppercase;
    letter-spacing: .06rem;
}
.section-title-accent {
    font: var(--section-title-accent-text-font);
    text-transform: uppercase;
    letter-spacing: .06rem;
}

// Text
.text {
    font: var(--main-text-font);
    letter-spacing: .0275rem;
}

.title-text {
    font: var(--main-title-text-font);
    letter-spacing: .0275rem;
}