.everyone {
    padding-bottom: 10rem;

    @media (max-width: $media-lg) {
        padding-bottom: 6.25rem;
    }
}

.everyone__container {
    padding: 20px;
    max-width: 87.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.everyone__img {
    max-width: 1400px;
    margin-bottom: 58px;
    border-radius: 10px;

    @media (max-width: $media-xxl) {
        max-width: 900px;
    }

    @media (max-width: $media-lg) {
        display: none;
    }
}

.everyone__stripes {
    position: absolute;
    transform: translate(-50%, -50%);

    @media (max-width: 1400px) {
        display: none;
    }
}

.stripe-left {
    left: -45px;
    top: 590px;
}

.stripe-right {
    right: -1005px;
    top: 590px;
}

.everyone__title {
    text-align: center;
    margin-bottom: 1.875rem;
    position: relative;

    @media (max-width: $media-sm-576) {
        font-size: 35px;
    }
}

.everyone-title-accent {
    @media (max-width: $media-sm-576) {
        font-size: 35px;
    }
}

.everyone__cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;

    @media (max-width: $media-xxl) {
        display: flex;
        flex-direction: column;
    }
}

.everyone__item {
    padding: 3.125rem 1.875rem;
    background-color: var(--color-Grey-1);
    display: flex;
    gap: 1.25rem;
    border-radius: .5rem;
    max-width: 670px;

    @media (max-width: $media-sm-576) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.everyone__item--img {
    border-radius: .625rem;
}

.everyone__item--content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .everyone__text {
        @media (max-width: $media-sm-576) {
            font-size: 18px;
        }
    }
}

