.reviews {
    padding-bottom: 177px;

    @media (max-width: $media-lg) {
        padding-bottom: 100px;
    }

    @media (max-width: $media-sm-576) {
        padding-bottom: 60px;
    }
}

.reviews__container {
    display: flex;
    flex-direction: column;
    gap: 79px;

    @media (max-width: $media-xxl) {
        display: flex;
        align-items: center;
    }
}

.reviews__row {
    display: flex;
    gap: 17px;

    @media (max-width: $media-xxl) {
        display: flex;
        flex-direction: column;
    }
}

.reviews__item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 547px;
    padding: 50px 75px;
    background-color: var(--color-Grey-1);
    border-radius: 8px;

    @media (max-width: $media-sm-576) {
        align-items: center;
        text-align: center;
        padding: 30px 30px;
    }

    .reviews__item-review {
        display: flex;
        gap: 18px;

        &--photo {
            border-radius: 6px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 8px;

            &--name {
                font: var( --main-title-text-font);
                line-height: 24px;
                letter-spacing: .48px;
                font-family: var(--Montserrat-font-family);

                @media (max-width: $media-sm-576) {
                    font-size: 20px;
                }
            }

            &--position {
                font-size: 18px;
                font-weight: 500;
                line-height: 18px;
                letter-spacing: .36px;
                font-family: var(--Montserrat-font-family);

                @media (max-width: $media-sm-576) {
                    font-size: 15px;
                }
            }
        }
    }
}

.reviews__text {
    @media (max-width: $media-sm-576) {
        font-size: 15px;
    }
}