.services {
    padding-bottom: 160px;
    margin: 0 auto;

    @media (max-width: 1480px) {
        text-align: center;
        padding-bottom: 100px;
    }
}

.services__container {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media (max-width: $media-xxl) {
        align-items: center;
    }
}

.services__column {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.services__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;

    @media (max-width: 1480px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.services__img {
    border-radius: 8px;
}

.services__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.services__text-container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &--title {
        font: var(--hero-subtitle-font);
        font-family: var(--Roboto-flex-font-family);
        font-weight: 600;
    }
}

.services__button-row {
    display: flex;
    gap: 22px;

    @media (max-width: 1480px) {
        justify-content: center;
    }

    &--green {
        padding: 19px 84px;
    }
    
    &--black {
        padding: 17px 76.5px;
    }
}

