.xag {
    padding-bottom: 200px;

    @media (max-width: $media-lg) {
        padding-bottom: 100px;
    }

    @media (max-width: $media-sm-576) {
        padding-bottom: 60px;
    }
}

.xag__wrapper {
    background-color: var(--color-Grey-1);
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.75rem;

    @media (max-width: $media-sm-576) {
        padding-bottom: 1.875rem;
    }
}

.xag-row {
    display: flex;
    align-items: center;
    gap: 18.75rem;

    @media (max-width: $media-xxl) {
        flex-direction: column;
        gap: 2.5rem;
    }

    &__content {
        @media (max-width: $media-lg) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.xag__title {
    margin-bottom: 20px;

    @media (max-width: $media-xxl) {
        margin-top: 30px;
    }

    @media (max-width: $media-lg) {
        font-size: 2.1875rem;
    }

    @media (max-width: $media-sm-576) {
        font-size: 1.5625rem;
    }
}

.xag__subtitle {
    max-width: 510px;
    margin-bottom: 40px;

    @media (max-width: $media-sm-576) {
        text-align: center;
        font-size: 1.125rem;
    }
}

.xag__button-row {
    display: flex;
    gap: 22px;

    @media (max-width: $media-sm-576) {
        flex-direction: column;
    }
}

.xag__button-green {
    font-size: 16px;
    padding: 17px 15.5008px;
}

.xag__button-black {
    font-size: 16px;
    padding: 17px 36.5008px;
}

.xag__img {
    max-width: 560px;
    width: 100%;

    @media (max-width: $media-lg) {
        max-width: 560px;
    }
}

.xag__cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 86.25rem;

    @media (max-width: 1440px) {
        display: grid;
        grid-template-columns: repeat(3, 20.3125rem);
    }

    @media (max-width: 1090px) {
        display: grid;
        grid-template-columns: repeat(2, 20.3125rem);
    }

    @media (max-width: $media-lg) {
        display: grid;
        grid-template-columns: repeat(1, 20.3125rem);
        gap: .625rem;
    }

    @media (max-width: $media-sm-576) {
        display: grid;
        grid-template-columns: repeat(1, 15.625rem);
        gap: .625rem;
    }

    .xag__item {
        background-color: var(--color-black-bg);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
        padding: 20px 0 20px 20px;
        border-radius: 6px;

        @media (max-width: $media-sm-576) {
            
        }
    }

    .xag__item:nth-child(1) {
        min-width: 325px;

        @media (max-width: $media-sm-576) {
            min-width: 250px;
        }
    }

    .xag__item:nth-child(2) {
        min-width: 15rem;
    }

    .xag__item:nth-child(3) {
        min-width: 15rem;
    }

    .xag__item:nth-child(4) {
        min-width: 15.8125rem;
    }

    .xag__item:nth-child(5) {
        min-width: 15rem;
    }

    .xag__item:nth-child(6) {
        min-width: 325px;

        @media (max-width: $media-sm-576) {
            min-width: 250px;
        }
    }

    .xag__item:nth-child(7) {
        min-width: 15rem;
    }

    .xag__item:nth-child(8) {
        min-width: 15rem;
    }

    .xag__item:nth-child(9) {
        min-width: 15.8125rem;
    }

    .xag__item:nth-child(10) {
        min-width: 15rem;
    }
}

.xag__text-title {
    font: var(--grid-title-font);
    color: var(--color-orange);

    @media (max-width: $media-lg) {
        font-size: .9375rem;
    }
}

.xag__text {
    font-size: 1.125rem;
    color: var(--color-Grey-8);

    @media (max-width: $media-lg) {
        font-size: .75rem;
    }
}