.xag {
    padding-bottom: 12.5rem;
}

.xag__wrapper {
    background-color: var(--color-Grey-1);
    border-radius: .6875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.xag-row {
    display: flex;
    align-items: center;
    gap: 300px;

    @media (max-width: 90rem) {
        flex-direction: column;
        gap: 40px;
    }
}

.xag__title {
    margin-bottom: 1.25rem;

    @media (max-width: 90rem) {
        margin-top: 1.875rem;
    }
}

.xag__subtitle {
    max-width: 31.875rem;
    margin-bottom: 2.5rem;
}

.xag__button-row {
    display: flex;
    gap: 1.375rem;
}

.xag__button-green {
    font-size: 1rem;
    padding: 1.0625rem .9688rem;
}

.xag__button-black {
    font-size: 1rem;
    padding: 1.0625rem 2.2813rem;
}

.xag__img {
    max-width: 35rem;
    width: 100%;
}

.xag__cards {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
    max-width: 1380px;

    @media (max-width: 90rem) {
        display: grid;
        grid-template-columns: repeat(3, 325px);
    }

    @media (max-width: 68.125rem) {
        display: grid;
        grid-template-columns: repeat(2, 325px);
    }

    // @media (max-width: 1440px) {
    //     flex-direction: column;
    // }

    .xag__item {
        background-color: var(--color-black-bg);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        gap: .375rem;
        padding: 1.25rem 0 1.25rem 1.25rem;
        border-radius: .375rem;
    }

    .xag__item:nth-child(1) {
        min-width: 20.3125rem;
    }

    .xag__item:nth-child(2) {
        min-width: 240px;
    }

    .xag__item:nth-child(3) {
        min-width: 240px;
    }

    .xag__item:nth-child(4) {
        min-width: 253px;
    }

    .xag__item:nth-child(5) {
        min-width: 240px;
    }

    .xag__item:nth-child(6) {
        min-width: 20.3125rem;
    }

    .xag__item:nth-child(7) {
        min-width: 240px;
    }

    .xag__item:nth-child(8) {
        min-width: 240px;
    }

    .xag__item:nth-child(9) {
        min-width: 253px;
    }

    .xag__item:nth-child(10) {
        min-width: 240px;
    }



}

.xag__text-title {
    font: var(--grid-title-font);
    color: var(--color-orange);
}

.xag__text {
    font-size: 18px;
    color: var(--color-Grey-8);
}