.xag {
    padding-bottom: 12.5rem;
}

.xag__container {
    background-color: var(--color-Grey-1);
    border-radius: .6875rem;
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding: 1.0625rem 9.125rem 3.75rem 9.5625rem;
    
}

.xag-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16.3125rem;
}

.xag__title {
    margin-bottom: 1.25rem;
}

.xag__subtitle {
    max-width: 510px;
    margin-bottom: 40px;
}

.xag__button-row {
    display: flex;
    gap: 1.375rem;
}

.xag__button-green {
    font-size: 1rem;
    padding: 1.0625rem .9688rem;
}

.xag__button-black {
    font-size: 1rem;
    padding: 1.0625rem 2.2813rem;
}

.xag__img {

}

.xag__grid {
    display: grid;
    grid-template-columns: repeat(5, 280px);
    grid-template-rows: repeat(2, 6.625rem);
    column-gap: 1.25rem;
    row-gap: 1.25rem;
    margin: 0 auto;
}

.xag__item {
    background-color: var(--color-black-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .375rem;
    padding-left: 1.25rem;
    border-radius: .375rem;
}

.xag__text-title {
    font: var(--grid-title-font);
    color: var(--color-orange);
}

.xag__text {
    font-size: 18px;
    color: var(--color-Grey-8);
}