button {
    letter-spacing: .025rem;
    cursor: pointer;
    padding: 1.1875rem 2.4375rem;
    text-align: center;
    border-radius: .25rem;
    font: var(--button-font);
    transition: all 0.5s;

    

    &:hover {
        opacity: 0.8;
        box-shadow: 9px 9px 6px 4px rgba(159, 159, 165, 0.2);
        transform: scale(1.05);
    }
}

.button-green {
    background-color: var(--color-accent-green);
    font: var(--button-font);
    border: none;

    @media (max-width: $media-lg) {
        font-size: 15px;
    }
}

.button-black {
    border: 1px solid var(--color-accent-green);
    font: var(--button-font);
    background: transparent;
    color: var(--color-accent-green);

    @media (max-width: $media-lg) {
        font-size: 15px;
    }
}