.footer {
    padding: 3.875rem 0;
    background-color: var(--color-black-header);
    position: relative;

    &::after {
        position: absolute;
        content: '';
        display: block;
        bottom: 7.375rem;
        left: 0;
        width: 100%;
        height: .0625rem;
        background-color: var(--color-lime);
    }
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    margin-bottom: 2.8125rem;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.8125rem;
    margin-bottom: 5.3125rem;
}

.footer__rights {
    color: var(--color-Grey-8);
    font-family: var(--Inter-font-family);
    font-size: 1.0625rem;
    font-weight: 300;
    line-height: 1.5rem;
}