.form {
    position: relative;
    z-index: 2;
}

label {
    font: var(--hero-subtitle-font);
    font-family: var(--Roboto-flex-font-family);
    font-weight: 700;
    line-height: 35.2px;
    letter-spacing: 0.64px;
    display: block;

    @media (max-width: $media-lg) {
        font-size: 120%;
    }
}

input {
    width: 100%;
    border-bottom: 1px solid var(--color-accent-green);
    padding-top: 18px;
    padding-bottom: 24px;
    color: inherit;
    font-family: var(--Roboto-flex-font-family);
    font-size: 24px;

    &:focus {
        border-bottom: 1px solid var(--color-orange);
    }

    &::placeholder {
        font-size: 24px;
        font-family: var(--Roboto-flex-font-family);
        font-weight: 300;
        line-height: 26.4px;
        letter-spacing: 0.48px;

        @media (max-width: $media-lg) {
            font-size: 18px;
        }
    }
}

#name {
    margin-bottom: 50px;

    @media (max-width: $media-lg) {
        margin-bottom: 25px;
    }
}

#number {
    margin-bottom: 60px;

    @media (max-width: $media-lg) {
        margin-bottom: 25px;
    }
}

.request__button--green {
    width: 100%;
}