.header {

    background-color: var(--color-black-header);
    
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: .0625rem;
        background-color: var(--color-orange);
    }

    @media (max-width: $media-lg) {
        display: none;
    }
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.0625rem 0;
}