.navigation {
    display: flex;
    font: var(--nav-font);
    letter-spacing: .015rem;
    gap: 2rem;

    a {
        transition: all 0.5s;

        &:hover {
            color: var(--color-accent-green);
        }
    }
}

.hero__navigation {
    transition: all 0.8s;

    @media (max-width: $media-lg) {
        display: none;
    }
}

.active-menu {
    background-color: var(--color-accent-green);
    width: 100%;
    position: fixed;
    z-index: 3;
    right: 0;
    top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    opacity: 1;
    font-family: var(--Montserrat-font-family);
    font-size: 20px;

    a {

        &:hover {
            color: var(--color-black-header);
            border-bottom: 1px solid var(--color-black-header);
        } 
    }
}










.footer__navigation {

    @media (max-width: $media-lg) {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

}