.navigation {
    display: flex;
    font: var(--nav-font);
    letter-spacing: .015rem;
    gap: 2rem;

    a {
        transition: all 0.5s;

        &:hover {
            color: var(--color-accent-green);
        }

    }
}

.hero__navigation {
    @media (max-width: $media-lg) {
        display: none;
    }
}

.active-menu {
    display: block
}



.footer__navigation {

    @media (max-width: $media-lg) {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

}